.calendar {
  @apply w-full;
  &-month {

    &-header {
      @apply flex border-b-gray-200  border-b;
      border-bottom: 1px solid #ccc;

      &-item {
        @apply flex-1 px-4 py-5 text-sm text-gray-500;
      }
    }

    &-body {

      &-row {
        @apply flex h-[100px];
      }
      &-cell {
        @apply flex-1 px-4 py-1 text-sm text-gray-400 border-solid border-gray-100 overflow-hidden cursor-pointer;
        margin: 0 -1px -1px 0;

        &-current {
          @apply text-gray-900 ;
        }

        &-selected {
          background: blue;
          width: 28px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          color: #fff;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }

  &-header {
    align-items: center;

    @apply flex items-center leading-7 h-7;
    &-l {
      @apply flex gap-2;

      &-icon {
        @apply cursor-pointer  px-2 text-xs h-7 w-7 leading-7 hover:bg-gray-200 text-center duration-200 rounded-sm;
      }

      &-btn {
        @apply bg-[#eee] hover:bg-[#ccc] border-none px-4  py-0 leading-7 cursor-pointer rounded-sm duration-200;
      }
    }
  }
}